videoplayback POST requests get convereted to GET on 302 status codes due to RFC specifications

While I was debugging a weird behavior with the proxy that I use to handle videoplayback request on my instance (https://git.nadeko.net/Fijxu/http3-ytproxy) I noticed something weird with the requests, POST requests that got a 302 status code, got converted to a GET request. Of course this is not desired behavior because we need to include the Protobuf body on the request.

Why does this happen? Because of this:
- https://stackoverflow.com/a/5494469/12762375
- https://stackoverflow.com/a/8138447/12762375
- https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-p2-semantics-17#section-7.3

>2.  Redirection to a new location that represents an indirect
       response to the request, such as the result of a POST operation
       to be retrieved with a subsequent GET request.  This is status
       code 303 (See Other).

>Note: In HTTP/1.0, only the status codes 301 (Moved Permanently)
      and 302 (Found) were defined for the first type of redirect, and
      the second type did not exist at all ([[RFC1945], Section 9.3](https://datatracker.ietf.org/doc/html/rfc1945#section-9.3)).
      However it turned out that web forms using POST expected redirects
      to change the operation for the subsequent request to retrieval
      (GET).

(This is what Invidious does with HEAD requests at https://github.com/iv-org/invidious/blob/164d764d553921e6ee98facda241f13c2103ec90/src/invidious/routes/video_playback.cr#L48-L78):

>Note: An earlier version of this specification recommended a
      maximum of five redirections ([[RFC2068], Section 10.3](https://datatracker.ietf.org/doc/html/rfc2068#section-10.3)).  Content
      developers need to be aware that some clients might implement such
      a fixed limitation

This doesn't seem to be a problem since invidious-companion is still able to get the video stream without problem, but we still should handle 302 status codes properly.

![Image](https://github.com/user-attachments/assets/0d9846d0-f3bc-47a3-a9a9-6fea66e607eb)

I implemented it this way on my proxy: https://git.nadeko.net/Fijxu/http3-ytproxy/commit/319991c7b8e3bdbd67cfd1dc532f3306312d72da

